body {
    font-size: 16px;
    /* color: black; */
    background-color: #61122f;
    font-family: 'Alkatra', cursive;
}
.container-fluid {
    color: hsl(180, 100%, 50%);
    background-color: #f6b619;
    color: black;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
}
img {
    background: url('../images/restuarant.pang') no-repeat;
    height: 150px;
    width: 150px;
    margin: 10px 15px 10px 0;
}
/* #kaam {
    justify-content:flex-start;
} */

